SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=splitwise_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

CORS_ALLOW_ALL_ORIGINS=True
REDIS_URL=redis://127.0.0.1:6379/0
CHANNEL_LAYER_BACKEND=channels.layers.InMemoryChannelLayer
